@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find My Pet</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Lost Pets</h2>
        <table>
            <tr>Insert Pet Records here</tr>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Browse Lost Pets</h2>
        <p>Display 3 pets where reported zipcode is about 50 miles from the user</p>
        <button type="submit" title="BrowsePets">Browse Lost Pets</button>
    </div>
    <div class="col-md-4">
        <h2>Add Lost Pet</h2>
        <p>Search Pet Listings</p>
        <p>Add a Form field to submit a new record</p>
    </div>
</div>